<h4>在directive中：</h4>
<!-- {{testInt}}<br>
{{testString}}<br>
{{testAtInt}}<br>
{{testAtString}}<br>
{{testFunction()}}
 -->
<!-- <h4>scope:false</h4> -->
<h4>scope:true</h4>
<input ng-model="main.testInt"><br>
<input ng-model="main.testString"><br>
<input ng-model="main.testEqualArray"><br>
<input ng-model="main.testEqualObjact"><br>
<input ng-model="main.testAtInt"><br>
<input ng-model="main.testAtString"><br>
<input ng-model="main.testAtArray"><br>
<input ng-model="main.testAtObject"><br>
<!-- <input ng-model="main.testFunction()"><br><br> -->
