<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

<!-- <nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li><a ui-sref=".header">header</a></li>
        <li><a ui-sref=".tab1({tabId:main.tabId})">tab1</a></li>
         <li><a ui-sref="#" ng-click="main.gotoDestination('1')">tab1</a></li>
        <li><a ui-sref=".tab2">tab2</a></li>
    </ul>
</nav> -->

<!-- <button class="btn btn-lg btn-success" ng-click="main.gotoDestination(main.tabCtrl)" >{{main.tabCtrl}}</button>
<input ng-model="main.tabId">
<div class="container">
    <div ui-view></div>
</div>
<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron text-center">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">
            <img src="assets/images/yeoman.png" alt="I'm Yeoman">
            <br> Always a pleasure scaffolding your apps.
        </p>
        <p class="animated infinite" ng-class="main.classAnimation">
            <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
        </p>
        <p>
            With ♥ thanks to the contributions of
            <acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
            <div class="thumbnail">
                <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
                <div class="caption">
                    <h3>{{ awesomeThing.title }}</h3>
                    <p>{{ awesomeThing.description }}</p>
                    <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>  -->
  <div class="row">normal name:
  <input ng-model="main.name">
  </div>
  <br>
  <div class="row">object name:
  <input ng-model="main.obj.name">
  </div>


  <div ng-include="main.includeUrl">
  </div>


 
  <h3>ngRepeat:</h3>
  {{main.jsonData}}<br>
  {{main.ngRepeatArray}}
  <p>normal Array</p>
  <div ng-repeat="dataArray in main.ngRepeatArray">
    <input ng-model="dataArray">
  </div>
  <p>object:</p>
  <div ng-repeat="data in main.jsonData">
    <input ng-model="data.name">
  </div>

 
  <!-- {{main.testInt}}<br>
  {{main.testString}}<br>
  {{main.testEqualArray}}<br>
  {{main.testEqualObjact}}<br>
  {{main.testAtInt}}<br>
  {{main.testAtString}}<br>
  {{main.testAtArray}}<br>
  {{main.testAtObject}}<br>
  {{main.testFunction()}} -->
   <h3>directive:为什么用@的时候显示的是字符串，用=的时候显示的是变量值(2)根据原型链规则，scope:true是普通的继承。即如果是普通类型修改值，即相当于创建了同名变量，覆盖了父scope的值，父scope上的值不会改变，为什么实现出来不是这种效果？</h3>
   <input ng-model="main.testInt"><br>
  <input ng-model="main.testString"><br>
  <input ng-model="main.testEqualArray"><br>
  <input ng-model="main.testEqualObjact"><br>
  <input ng-model="main.testAtInt"><br>
  <input ng-model="main.testAtString"><br>
  <input ng-model="main.testAtArray"><br>
  <input ng-model="main.testAtObject"><br>
  <my-directive test-int='main.testInt' test-string='main.testString' test-at-int='testAtInt' test-at-string='main.testAtString'></my-directive>
 <!--  <div>read json</div>
  <ul ng-repeat="data in jsonData">
    <li>{{data.name}}</li>
    <li>{{data.age}}</li>
    <li>{{data.hobby}}</li>
  </ul>
  <div>read json by service</div>
  <ul ng-repeat="data in readJson">
    <li>{{data.name}}</li>
    <li>{{data.age}}</li>
    <li>{{data.hobby}}</li>
  </ul>
  <footer my-footer ></footer> 
    <div>read json</div>
    <ul ng-repeat="data in main.jsonData">
        <li>{{data.name}}</li>
        <li>{{data.age}}</li>
        <li>{{data.hobby}}</li>
    </ul>
    <div>read json by service</div>
    <ul ng-repeat="data in main.readJson">
        <li>{{data.name}}</li>
        <li>{{data.age}}</li>
        <li>{{data.hobby}}</li>
    </ul>
    <footer my-footer></footer>
</div> -->
